.contain{
    min-height: 100vh;
    text-align: center;
    font-weight: 700;
    flex: 1;
    flex-direction: row;
    margin: 8% auto;
    position: relative;
    width: 1380px;
}
.name{
    font-family: 'Rowdies', cursive;
  }
  .name1{
   
    font-family: 'Roboto', sans-serif;
  }