/* Chỉnh thông số mặc định của footer */

.footer{
    background-color: black;
    font-family: 'jomhuria';
    width: 1580px;
    margin: 0% auto;   
    position: relative;
}

/* Chỉnh các thông tin trong footer */
.list{
    list-style: none;
    color: aliceblue;
    margin-top: 5px;
}
.list1{
    line-height: 2;
}
.list2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}