.main{
    min-height: 100vh;
    display: flex;
    font-weight: 700;
    flex: 1;
    flex-direction: row;
    margin: 6% auto 0 20%;
    position: relative;
    
}
.name{
    font-family: 'Rowdies', cursive;
    margin: 8% auto 0% 7% ;  
}
.name1{
    font-family: 'Karla'; 
}
.paper{
    border: 1px solid #1b1a1a;
    border-radius:7px;
    box-shadow: 3px 9px 21px 0px rgba(0, 0, 0, 0.10), 12px 37px 39px 0px rgba(0, 0, 0, 0.09), 28px 83px 53px 0px rgba(0, 0, 0, 0.05), 49px 148px 63px 0px rgba(0, 0, 0, 0.01), 77px 232px 68px 0px rgba(0, 0, 0, 0.00);
    align-items: center;
}
.histories{
    display: flex;
}
