/* Import font của google */

/* Chỉnh thông số mặc định của homepage */
.homepage{
  width: 1380px;
  min-height: 100vh;
  flex: 1;
  flex-direction: row;
  margin: 6% auto;
  position: relative;
}

/*Chỉnh banner của trang*/
.videobanner{
  display: flex;
  justify-content: center;
}

/*Chỉnh tiêu đề cho từng mục*/
.name{
  display: flex;
  justify-content: center;
  font-family: 'Rowdies', cursive;
  font-weight: 900;
}
.name1{
  display: flex;
  justify-content: center;
  font-family: 'Rowdies', cursive;
  font-weight: 900;
}

/*Chỉnh hình ảnh*/
.img{
   box-shadow:3px 9px 21px 0px rgba(0, 0, 0, 0.10), 12px 37px 39px 0px rgba(0, 0, 0, 0.09), 28px 83px 53px 0px rgba(0, 0, 0, 0.05), 49px 148px 63px 0px rgba(0, 0, 0, 0.01), 77px 232px 68px 0px rgba(0, 0, 0, 0.00);
    transition: box-shadow .2s;
    border-radius:10px;
    display: flex;
    background: #fff;
    padding-left: 20%;
    outline: 1px #2b2a2a;
    opacity: 0.8;  
}
.img:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}